node_modules
dist/
.env
data/mv_tec
venv/

#Python cache
__pycache__/
*.pyc

# Python / Backend
env/
__pycache__/
*.py[cod]
*.sqlite3
visioninspect.db

backend/inspection_plots/
backend/models/trained/