FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=change-this-in-production
DATABASE_PATH=../instance/backend.db
DATASET_ROOT=../ai/dataset
UPLOAD_FOLDER=uploads
MAX_CONTENT_LENGTH=16777216
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-host>/?appName=<app-name>
MONGO_DB_NAME=visioninspect_ai
